@import '../variables.module.scss';

.header {
    background: url('/imgs/rezepte/schokotomatespinatei.jpg');
    width: 90%;
    padding-top: 45%;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    margin-top: 0.5cm;

    > span:not(.mehrLesen) {
        position: absolute;
        font-size: 3vw;
        width: 100%;
        text-align: center;
        color: $pappe;
        font-family: 'TrashHand';
    }

    > span:nth-child(1) {
        top: 85%;
        right: 5%;
    }

    > .mehrLesen {
        color: $active;
        position: absolute;
        bottom: 5px;
        text-align: center;
        left: 50%;
        font-size: 2vmin;
        cursor: pointer;
    }
}

.textExpand {
    background-color: $pappe;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 1cm;
}
