@import '../variables.module.scss';

.searchContainer {
    background-color: $pappe;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1cm;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2cm;

    @media (max-width: $mobile_max_width) {
        padding: 10px;
    }

    * {
        font-size: min(2rem, 6vw);
        height: fit-content;
    }

    label {
        max-width: 40%;
        margin-right: 5px;
    }
    span {
        flex-grow: 1;
        min-width: 0;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(1, auto);
        grid-template-areas: 'mode search delete';

        @media (max-width: $mobile_max_width) {
            grid-template-columns: 1fr min-content;
            grid-template-rows: repeat(2, auto);
            grid-template-areas:
                'mode delete'
                'search search';
        }

        .sortOrder {
            grid-area: mode;
        }
        .search {
            grid-area: search;
            width: 100%;
        }
        .delete-search {
            grid-area: delete;
            width: fit-content;
        }
    }

    .delete-search {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 5px;
    }
}

.sortOrder {
    margin-right: 10px;
}

.loadMore {
    background-color: $pappe;
    border: none;
    padding: 20px;
    font-size: 2rem;
    font-family: 'TrashHand';
    display: block;
    margin: 0 auto;
    margin-bottom: 1cm;
    width: 90%;
    cursor: pointer;
}
