---
import { type CollectionEntry } from "astro:content";
import { Icon } from "astro-icon";
import RezeptDisplay from "./RezeptDisplay.astro";

interface Props {
    rezepte: CollectionEntry<"rezepte">[];
}

const { rezepte } = Astro.props;
---

<div id="searchContainer" class="searchContainer">
    <label for="search">Suchbegriff eingeben</label>
    <button
        type="button"
        id="sortOrder"
        title="Unsere Empfehlungen"
        class="sortOrder"
    >
        präsentiert
    </button>
    <input type="text" id="search" class="search" placeholder="#Sommer" />
    <button
        type="button"
        id="delete-search"
        class="delete-search"
        title="Suche löschen"
    >
        <Icon pack="octicon" name="x-circle-16" />
    </button>
</div>

<div id="rezepte" class="rezepte">
    {rezepte.map((rezept) => <RezeptDisplay rezept={rezept} />)}
</div>

<script src="/src/scripts/rezepte/web.ts"></script>

<style lang="scss">
    .searchContainer {
        background-color: $pappe;
        width: 90%;
        margin: 1cm auto;
        padding: 40px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr repeat(3, auto);
        grid-template-areas: "label mode search delete";
        align-items: center;

        @media (max-width: $mobile_max_width) {
            padding: 10px;
            margin-top: 1cm;
            grid-template-columns: 1fr 1fr min-content;
            grid-template-rows: repeat(2, auto);
            grid-template-areas:
                "label mode delete"
                "label search search";
        }

        * {
            font-size: min(2rem, 6vw);
            height: fit-content;
        }

        label {
            max-width: 40%;
            margin-right: 5px;
            grid-area: label;
        }

        .sortOrder {
            grid-area: mode;

            svg {
                height: calc(min(2rem, 6vw) * 1.5);

                &.left {
                    transform: rotate(-135deg);
                }
                &.right {
                    transform: rotate(45deg);
                }
            }
        }
        .search {
            grid-area: search;
            width: 100%;
        }
        .delete-search {
            grid-area: delete;
            width: fit-content;
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 5px;

            svg {
                height: min(2rem, 6vw);
                margin-top: 5px;
            }
        }
    }

    .sortOrder {
        margin-right: 10px;
        cursor: pointer;
    }

    .loadMore {
        background-color: $pappe;
        border: none;
        padding: 20px;
        font-size: 2rem;
        font-family: "TrashHand";
        display: block;
        margin: 0 auto;
        margin-bottom: 1cm;
        width: 90%;
        cursor: pointer;
    }
</style>
