---
import { Icon } from "astro-icon";

interface Props {
    active: string;
}

const menu = [
    ["/", "willkommen."],
    ["/rezepte", "rezepte."],
    ["/geschichten", "geschichten."],
    ["/nicole_jette", "nicole & jette."],
    ["/loeffelfreunde", "löffelfreu(n)de"],
    ["/leseglueck", "leseglück."],
];
const { active } = Astro.props;
---

<button id="mobile-nav-toggle"><Icon name="fa:bars" /></button>
<nav id="navbar">
    {
        menu.map((el) => {
            let href = el[0].length > 1 ? el[0] + "/" : el[0];
            if (el[0] === active) return <h1 class="active">{el[1]}</h1>;
            else
                return (
                    <a href={href} class="inactive">
                        {el[1]}
                    </a>
                );
        })
    }
</nav>

<style lang="scss">
    #navbar {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: 0 auto;
        margin-top: 2vh;

        @media (max-width: $mobile_max_width) {
            width: unset;
            background-color: $pappe;
            padding-top: 0;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            margin: 0;
            position: fixed;
            inset: 0 0 0 30%;
            // padding: 0 1.5em;
            overflow-x: hidden;
            padding-top: min(20vh, 10rem);
            z-index: 99;
            overflow-y: auto;
            transform: translateX(100%);
            transition: transform 200ms ease-in-out;

            @supports (backdrop-filter: blur(1rem)) {
                background-color: rgba($pappe, 50%);
                backdrop-filter: blur(1rem);
            }
        }

        &.mobile-visible {
            transform: translateX(0%);
        }
    }

    .active,
    .inactive {
        font-family: "TrashHand";
        text-decoration: none;
        transition: color 0.2s;
        font-size: 1.3rem;
        font-family: "TrashHand";

        // @media (max-width: $mobile_max_width) {
        //     text-align: center;
        //     width: fit-content;
        //     max-width: 100%;
        //     font-size: 3rem;
        //     padding: 0.5vmin 2vmin;
        //     margin: 0 auto;
        //     max-width: 80%;
        //     border: 4px solid var(--border-color);
        // }
        @media (max-width: $mobile_max_width) {
            text-align: end;
            font-size: 2rem;
            word-wrap: break-word;
            margin: 0 auto;
            margin-bottom: 0.5rem;
            width: 80%;
            font-size: 10vw;
            border: none;
        }
    }

    .active {
        color: $active;
        font-weight: normal;

        @media (max-width: $mobile_max_width) {
            color: $background;
            border-bottom: 2px solid $background;
        }
    }

    .inactive {
        color: $pappe;

        @media (max-width: $mobile_max_width) {
            color: $background;
        }

        &:hover {
            color: $pappe_darken;

            @media (max-width: $mobile_max_width) {
                color: darken($background, 50%);
                border-bottom: 2px solid $background;
            }
        }
    }

    #mobile-nav-toggle {
        position: absolute;
        width: 3rem;
        aspect-ratio: 1;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 100;
        border: 2px darken($pappe, 20%) solid;
        display: none;
        background-color: $pappe;
        color: unset;
        padding: 0.25rem;
        border-radius: 20%;

        svg {
            padding-top: 3px;
            :global(*) {
                fill: #d9d9d9;
            }
        }

        @media (max-width: $mobile_max_width) {
            display: block;
        }
    }
</style>

<script>
    const nav = document.querySelector("nav#navbar") as HTMLElement;
    const navToggle = document.querySelector(
        "#mobile-nav-toggle"
    ) as HTMLButtonElement;

    navToggle.addEventListener("click", () => {
        nav.classList.toggle("mobile-visible");
    });
</script>
