@import './variables.module.scss';

.navbar {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.active,
.inactive {
    font-family: 'TrashHand';
    text-decoration: none;
    margin: 0 2vw;
    transition: color 0.2s;
    font-size: 3vmin;
    font-family: 'TrashHand';
}

.active {
    color: $active;
}

.inactive {
    color: $pappe;

    :hover {
        color: $pappe_darken;
    }
}
